@server (
	prefix: {{ .Prefix }}
	group:  {{ .Group }}
)
service {{ .ServiceName }} {
{{- range .Endpoints }}
	@doc "{{ .Description }}"
	@handler {{ .Handler }}
	{{ .Method }} {{ .Path }} ({{ .RequestType }}) returns ({{ .ResponseType }})
{{- end }}
}