package {{ .PackageName }}

import (
	"context"

	{{- if .Imports }}
	{{- range .Imports }}
		"{{ . }}"
	{{- end }}
	{{- end }}

	"github.com/zeromicro/go-zero/core/logx"
)

type {{ .LogicName }}Logic struct {
	logx.Logger
	ctx    context.Context
	svcCtx *svc.ServiceContext
}

// {{ .LogicName }}
func New{{ .LogicName }}Logic(ctx context.Context, svcCtx *svc.ServiceContext) *{{ .LogicName }}Logic {
	return &{{ .LogicName }}{
		Logger: logx.WithContext(ctx),
		ctx:    ctx,
		svcCtx: svcCtx,
	}
}

func (l *{{ .LogicName }}Logic) {{ .LogicName }}(req *types.{{ .RequestType }}) (resp *{{ .ResponseType }}, err error) {
	// 1. 创建新的模型实例
	var {{ .ModelInstanceName }} {{ .ModelStruct }}
	CopyCreate{{ .ModelStruct }}ReqTo{{ .ModelStruct }}(req, &{{ .ModelInstanceName }})

	// 2. 插入数据库
	err = l.svcCtx.DB.Model({{ .ModelStruct }}{}.TableName()).Create(&{{ .ModelInstanceName }}).Error
	if err != nil {
		l.Logger.Error("{{ .ErrorMessage }}", logx.Field("error", err))
		return &{{ .ResponseType }}{}, err
	}

	// 3. 返回成功响应
	return &{{ .ResponseType }}{}, nil
}
