package {{ .PackageName }}

import (
	"context"
	{{- if .Imports }}
	{{- range .Imports }}
		"{{ . }}"
	{{- end }}
	{{- end }}

	"github.com/zeromicro/go-zero/core/logx"
)

type {{ .LogicName }}Logic struct {
	logx.Logger
	ctx    context.Context
	svcCtx *svc.ServiceContext
}

// {{ .LogicName }}
func New{{ .LogicName }}Logic(ctx context.Context, svcCtx *svc.ServiceContext) *{{ .LogicName }}Logic {
	return &{{ .LogicName }}Logic{
		Logger: logx.WithContext(ctx),
		ctx:    ctx,
		svcCtx: svcCtx,
	}
}

// {{ .LogicName }} 执行删除 {{ .LogicName}} 的逻辑
func (l *{{ .LogicName }}Logic) {{ .LogicName }}(req *types.{{ .RequestType }}) (resp *{{ .ResponseType }}, err error) {

	// Set the table name and delete the {{ .ModelStruct }} from the database
	err = l.svcCtx.DB.Table({{ .ModelPkgName }}.{{ .ModelStruct }}{}.TableName()).Where("id = ?", req.{{ .IdFieldName }}).Delete(&{{ .ModelPkgName }}.{{ .ModelStruct }}{}).Error
	if err != nil {
		l.Logger.Error("{{ .ErrorMessage }}", logx.Field("error", err))
		return nil, err
	}

	// 3. 返回成功响应
	return &{{ .ResponseType }}{}, nil
}