package {{ .PackageName }}
{{- if .Imports }}
import (
{{- range .Imports }}
    "{{ . }}"
{{- end }}
)
{{- end }}


type {{ .StructName }} struct {
{{- range .Columns }}
    {{ .FieldName }} {{ .FieldType }} `gorm:"column:{{ .ColumnName }}{{ if .Nullable }};default:NULL{{ end }}"`{{ if .Nullable }} // Nullable{{ end }}
{{- end }}
}

// TableName returns the name of the table corresponding to the {{ .StructName }} struct
func ({{ .StructName }}) TableName() string {
    return "{{ .TableName }}"
}